main {
  text-align: center;
}
h1 {
  font-family: "Bigelow Rules", cursive;
  font-size: 72px;
  color: #0ccac4;
  text-align: center;
}
.status-message {
  color: #e8fbfb;
  font-size: 18px;
  margin-top: 40px;
}
.status-message--error {
  color: #ff8a80;
}
